<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sokketsu</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <header>
  <div class = "header-logo">Blog</div>
  <div class ="header-list">
    <a class="button" href="#Japanese">日本語</a>
    <a class="button2" href="#English">Englishh</a>
  </div>
  </header>
    <div class="contents">
        <p>*Event Name</p>
        <input type = "text" name="event_name" placeholder="*Event Name">
        <p>Location/Restaurant</p>
        <input type = "text" name ="location" placeholder="location/Restaurant">
        <p>Restaurant URL</p>
        <input type = "text" name= "location_url" placeholder="Restaurant URL">
        <p>Event Detail</p>
        <textarea  name="event_detail" placeholder="Event Detail" rows="10" cols="30"></textarea>
        <p>*Due Date</p>
        <input type ="text" name ="*due_date" placeholder="Due Date">
        <p>*Possible Date</p>
        <input type="text" name="date" placeholder ="*Possible Date">
        <p>*Time Range</p>
        <input type="text" name="time_range" placeholdr="*Time Range">
        <input type="submit" value="Create">
    </div>
  </body>
</html>