<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sokketsu</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <header>
  <div class = "header-logo">Sokketsu</div>
  <div class ="header-list">
    <a class="button" href="Japanese">日本語</a>
    <a class="button2" href="sokketsu">English</a>
  </div>
  </header>
    <div class="left">
       <div class ="left-contents1">
         <p1>*Event Name</p1>
         <p2><input type = "text" name="event_name" placeholder="*Event Name"></p2>
       </div> 
       <div class ="left-contencts2">
         <p1>Location/Restaurant</p1>
         <p2><input type = "text" name ="location" placeholder="location/Restaurant"></p2>
       </div>
       <div class="left-contents3">
         <p1>Restaurant URL</p1>
         <p2><input type = "text" name= "location_url" placeholder="Restaurant URL"></p2>
       </div>
       <div clss="left-contents4">
         <p1>Event Detail</p1>
         <p2><textarea  name="event_detail" placeholder="Event Detail" rows="10" cols="30"></textarea></p2>
       </div> 
    </div>
    <div class="right">
       <div clss="right-contents1">
         <p1>*Due Date</p1>
         <p2><input type="date"></p2>
       </div>
       <div class="right-contents2">
         <p1>*Possible Date</p1>
         <p2><input type="text" name="date" placeholder ="*Possible Date"></p2>
       </div>
       <div class="right-contents3">
         <p1>*Time Range</p1>
         <p2><input type="text" name="time_range" placeholdr="*Time Range"></p2>
         <p3><input type="submit" value="Create"></p3>
       </div>
    </div>
  </body>
</html>