<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sokketsu</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <header>
  <div class = "header-logo">即決</div>
  <div class ="header-list">
    <a class="button" href="#Japanese">日本語</a>
    <a class="button2" href="#English">English</a>
  </div>
  </header>
    <div class="contents1">
        <p>*イベント名</p>
        <input type = "text" name="event_name" placeholder="*Event Name">
        <p>場所/レストラン名</p>
        <input type = "text" name ="location" placeholder="location/Restaurant">
        <p>レストラン URL</p>
        <input type = "text" name= "location_url" placeholder="Restaurant URL">
        <p>イベント詳細</p>
        <textarea  name="event_detail" placeholder="Event Detail" rows="10" cols="30"></textarea>
    </div>
    <div class="contents2">
        <p>*期限</p>
        <input type="date">
        <p>*候補日</p>
        <input type="text" name="date" placeholder ="*Possible Date">
        <p>*時間</p>
        <input type="text" name="time_range" placeholdr="*Time Range">
        <input type="submit" value="Create">
    </div>
  </body>
</html>