// Place all the styles related to the sokketsu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'High Tower Text';
    font-weight: normal;
    font-style: normal;
}

$accent: #57C3E9;
$indigo: #4B0082;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;

//mixin

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

* {
    box-sizing: border-box;
}

.header-logo {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

.header-list {
  font-size: 1.0rem;
  font-family: 'High Tower Text';
  text-align: right;
}

header, html {
  padding: 0px 0px 0px 0px;
  height: 100px;
  background-color:$white;
}


body,html {
  height: 100%;
  background-color: $lightGray
}

body {
  padding-top: 20px;
}

.contents1 {
  display: inline-block;         /* ボックスにして表示/
  height:  600px;             /* 高さ指定 */
  text-align: center;  
  width: 100%;  
  background-color: $lightGray;
  vertical-align:  top;
  box-sizing: border-box;
}

.contents2 {
  display: inline-block;         /* ボックスにして表示/
  height:  600px;             /* 高さ指定 */
  text-align: center;  
  width: 100%;  
  background-color: $lightGray;
  vertical-align:  top;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: $dark;
  &:hover {
    color: $accent;
  }
}

.body {
line-height: 1.5;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: $dark;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

